---
import Layout from "@layouts/Layout.astro";
import { getAlbumImages } from "@utils/albums";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const albums = await getCollection("albums");

  const paths = albums.map((album) => ({
    params: {
      id: album.id,
    },
    props: {
      album,
    },
  }));

  return paths;
}

export const prerender = true;

const { album }: any = Astro.props;
const images = await getAlbumImages(album.data.title);
---

<Layout title="Gallery">
  <section class="container mx-auto mt-10 px-4 pt-10 md:pt-20 pb-10">
    <div class="text-center">
      <h1 class="text-5xl font-bold">{album.data.title}</h1>
      <p class="text-xl my-4">{album.data.description}</p>

      <div
        class="mx-auto container my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5 text-center">
        {
          images.map((image) => (
            <img
              src={image}
              alt={`Image from ${album.data.title} album`}
              class="rounded mb-4 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
              loading="lazy"
            />
          ))
        }
      </div>

      <p class="text-lg my-4 text-center">
        <a href="/gallery/" class="hover:underline">View other albums</a>
      </p>
    </div>
  </section>
</Layout>
