---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
export const prerender = true;
---

<Layout title="Contact">
  <Container>
    <div class="mt-10 pt-10 md:pt-20 pb-10">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
        Contact
      </h1>
      <p class="text-lg mt-4 text-slate-600 text-center">
        We’re here to bring your vision to life.
      </p>
      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
        <div>
          <h2 class="font-medium text-2xl text-gray-800">Get in Touch</h2>
          <p class="text-lg leading-relaxed text-slate-500 mt-3">
            Have questions or need guidance? Connect with us! Fill out the form
            below, send us an email, or give us a call. We’re here to help you
            create the space you’ve always wanted.
          </p>
          <div class="mt-5">
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
              <span>Tamil Nadu, Coimbatore, 641006</span>
            </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
                href="mailto:hello@astroshipstarter.com"
                >jayalakshmiwoodcorner@gmail.com</a
              >
            </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
                href="tel:+91 9363150536">+91 9363150536</a
              >
            </div>
          </div>
        </div>
        <div>
          <Contactform />
        </div>
      </div>
    </div>
  </Container>
</Layout>
