---
import ExternalScripts from "@components/ExternalScripts.astro"
import Gallery from "@components/Gallery.astro"
import '../styles/main.css'
import Layout from "@layouts/Layout.astro";
---
<Layout title="library">
    <div class="gallery-scope">
        <body class="is-preload">
          <Gallery  />
          <ExternalScripts />
        </body>
      </div>
</Layout>