---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Modular Kitchen",
    description:
      "Cluttered kitchen? Maximize space and style with modular designs tailored for seamless storage and a joyful cooking experience.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Custom Wardrobes and Storage",
    description:
      "Need organization? Our custom wardrobes blend elegance with function, making decluttering easy and stylish.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Space-Saving Furniture",
    description:
      "Limited space? Our multi-functional furniture transforms small areas into stylish, practical spaces without compromise.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Study Table & Workspace Design",
    description:
      "Hard to focus? Our ergonomic study spaces boost productivity and comfort, tailored for your home.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Bedroom & Bath",
    description:
      "Missing a relaxing vibe? Our designs create serene, luxurious bedrooms and bathrooms for ultimate comfort.",
    icon: "bx:bxs-data",
  },
  {
    title: "Flooring and Ceiling Solutions",
    description:
      "Confused by choices? We select durable, stylish flooring and ceiling options to enhance every room.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything You Need to Design Your Dream Home
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Jayalakshmi interiors combines innovative solutions with personalized
    service to create spaces that inspire and function beautifully.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
