---
import { ServiceCard } from "./ServiceCard";

const features = [
  {
    title: "Modular Kitchen",
    description:
      "Cluttered kitchen? Maximize space and style with modular designs tailored for seamless storage and a joyful cooking experience.",
    imageUrl:
      "https://images.unsplash.com/photo-1556911220-bff31c812dba?q=80&w=1000",
  },
  {
    title: "Custom Wardrobes",
    description:
      "Need organization? Our custom wardrobes blend elegance with function, making decluttering easy and stylish.",
    imageUrl:
      "https://images.unsplash.com/photo-1558997519-83ea9252edf8?q=80&w=1000",
  },
  {
    title: "Space-Saving Furniture",
    description:
      "Limited space? Our multi-functional furniture transforms small areas into stylish, practical spaces without compromise.",
    imageUrl:
      "https://images.unsplash.com/photo-1615529182904-14819c35db37?q=80&w=1000",
  },
  {
    title: "Workspace Design",
    description:
      "Hard to focus? Our ergonomic study spaces boost productivity and comfort, tailored for your home.",
    imageUrl:
      "https://images.unsplash.com/photo-1486946255434-2466348c2166?q=80&w=1000",
  },
  {
    title: "Bedroom & Bath",
    description:
      "Missing a relaxing vibe? Our designs create serene, luxurious bedrooms and bathrooms for ultimate comfort.",
    imageUrl:
      "https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=1000",
  },
  {
    title: "Premium Finishes",
    description:
      "Confused by choices? We select durable, stylish flooring and ceiling options to enhance every room.",
    imageUrl:
      "https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=1000",
  },
];
---

<div class="py-16 max-w-screen-xl mx-auto px-5">
  <h2
    class="text-4xl lg:text-5xl font-bold lg:leading-[58px] max-w-4xl text-center mx-auto mb-8 md:mb-[52px]">
    Everything You Need to Design Your
    <span class="text-gradient-primary"> Dream Home </span>
  </h2>
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {features.map((service) => <ServiceCard {...service} />)}
  </div>
</div>
