---
import Facebook from "./ui/icons/facebook";
import Instagram from "./ui/icons/instagram";
import LinkedIn from "./ui/icons/linkedin";
import Mail from "./ui/icons/mail";
import Phone from "./ui/icons/phone";
---

<footer class="w-full bg-gray-100 py-8">
  <div
    class="w-full max-w-[1200px] px-6 xl:px-0 mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 md:gap-10 lg:gap-20">
    {/* Start: Company Info and Logo */}
    <div>
      <!-- <div
        class="flex w-full lg:w-auto items-center justify-between lg:justify-start">
        <a href="/" aria-label="footer-link-home-page-1" class="text-lg flex items-center space-x-1">
          <span class="font-bold text-slate-800">Jayalakshmi</span>
          <span class="text-slate-500">interiors</span>
        </a>
      </div> -->

      <div class="mb-4">
        <a href="/" aria-label="footer-link-home-page">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="333"
            height="72"
            viewBox="0 0 333 72"
            fill="none">
            <path
              d="M74.308 35.36C72.7 35.36 71.212 35.048 69.844 34.424C68.5 33.8 67.396 32.9 66.532 31.724L69.196 28.52C69.892 29.48 70.648 30.2 71.464 30.68C72.304 31.16 73.216 31.4 74.2 31.4C76.816 31.4 78.124 29.852 78.124 26.756V13.724H69.16V9.8H82.804V26.504C82.804 29.48 82.072 31.7 80.608 33.164C79.168 34.628 77.068 35.36 74.308 35.36ZM85.277 35L96.617 9.8H101.225L112.601 35H107.705L97.949 12.284H99.821L90.101 35H85.277ZM90.497 29.168L91.757 25.496H105.365L106.625 29.168H90.497ZM120.486 35V25.028L121.53 27.908L110.586 9.8H115.59L124.374 24.38H121.566L130.422 9.8H135.03L124.086 27.908L125.166 25.028V35H120.486ZM133.019 35L144.359 9.8H148.967L160.343 35H155.447L145.691 12.284H147.563L137.843 35H133.019ZM138.239 29.168L139.499 25.496H153.107L154.367 29.168H138.239ZM163.548 35V9.8H168.228V31.04H181.404V35H163.548ZM181.57 35L192.91 9.8H197.518L208.894 35H203.998L194.242 12.284H196.114L186.394 35H181.57ZM186.79 29.168L188.05 25.496H201.658L202.918 29.168H186.79ZM216.275 29.06L216.023 23.516L229.235 9.8H234.491L223.511 21.464L220.919 24.308L216.275 29.06ZM212.099 35V9.8H216.779V35H212.099ZM229.667 35L220.019 23.516L223.115 20.096L235.139 35H229.667ZM245.61 35.36C243.642 35.36 241.758 35.084 239.958 34.532C238.158 33.956 236.73 33.224 235.674 32.336L237.294 28.7C238.302 29.492 239.55 30.152 241.038 30.68C242.526 31.208 244.05 31.472 245.61 31.472C246.93 31.472 247.998 31.328 248.814 31.04C249.63 30.752 250.23 30.368 250.614 29.888C250.998 29.384 251.19 28.82 251.19 28.196C251.19 27.428 250.914 26.816 250.362 26.36C249.81 25.88 249.09 25.508 248.202 25.244C247.338 24.956 246.366 24.692 245.286 24.452C244.23 24.212 243.162 23.936 242.082 23.624C241.026 23.288 240.054 22.868 239.166 22.364C238.302 21.836 237.594 21.14 237.042 20.276C236.49 19.412 236.214 18.308 236.214 16.964C236.214 15.596 236.574 14.348 237.294 13.22C238.038 12.068 239.154 11.156 240.642 10.484C242.154 9.788 244.062 9.44 246.366 9.44C247.878 9.44 249.378 9.632 250.866 10.016C252.354 10.4 253.65 10.952 254.754 11.672L253.278 15.308C252.15 14.636 250.986 14.144 249.786 13.832C248.586 13.496 247.434 13.328 246.33 13.328C245.034 13.328 243.978 13.484 243.162 13.796C242.37 14.108 241.782 14.516 241.398 15.02C241.038 15.524 240.858 16.1 240.858 16.748C240.858 17.516 241.122 18.14 241.65 18.62C242.202 19.076 242.91 19.436 243.774 19.7C244.662 19.964 245.646 20.228 246.726 20.492C247.806 20.732 248.874 21.008 249.93 21.32C251.01 21.632 251.982 22.04 252.846 22.544C253.734 23.048 254.442 23.732 254.97 24.596C255.522 25.46 255.798 26.552 255.798 27.872C255.798 29.216 255.426 30.464 254.682 31.616C253.962 32.744 252.846 33.656 251.334 34.352C249.822 35.024 247.914 35.36 245.61 35.36ZM278.151 9.8H282.831V35H278.151V9.8ZM265.119 35H260.439V9.8H265.119V35ZM278.511 24.2H264.723V20.204H278.511V24.2ZM289.583 35V9.8H293.435L304.451 28.196H302.435L313.271 9.8H317.123L317.159 35H312.731L312.695 16.748H313.631L304.415 32.12H302.327L292.967 16.748H294.047V35H289.583ZM323.966 35V9.8H328.646V35H323.966Z"
              fill="black"></path>
            <path
              d="M154.824 63V51.8H156.008V63H154.824ZM159.652 63V51.8H160.628L168.356 61.528H167.844V51.8H169.012V63H168.036L160.324 53.272H160.836V63H159.652ZM174.844 63V52.824H170.908V51.8H179.964V52.824H176.028V63H174.844ZM182.911 56.808H188.831V57.816H182.911V56.808ZM183.039 61.976H189.775V63H181.855V51.8H189.535V52.824H183.039V61.976ZM192.558 63V51.8H196.75C197.7 51.8 198.516 51.9547 199.198 52.264C199.881 52.5627 200.404 53 200.766 53.576C201.14 54.1413 201.326 54.8293 201.326 55.64C201.326 56.4293 201.14 57.112 200.766 57.688C200.404 58.2533 199.881 58.6907 199.198 59C198.516 59.2987 197.7 59.448 196.75 59.448H193.214L193.742 58.904V63H192.558ZM200.206 63L197.326 58.936H198.606L201.502 63H200.206ZM193.742 59L193.214 58.44H196.718C197.838 58.44 198.686 58.1947 199.262 57.704C199.849 57.2133 200.142 56.5253 200.142 55.64C200.142 54.744 199.849 54.0507 199.262 53.56C198.686 53.0693 197.838 52.824 196.718 52.824H193.214L193.742 52.264V59ZM204.121 63V51.8H205.305V63H204.121ZM213.845 63.096C213.002 63.096 212.218 62.9573 211.493 62.68C210.778 62.392 210.154 61.992 209.621 61.48C209.098 60.9573 208.688 60.3547 208.389 59.672C208.101 58.9787 207.957 58.2213 207.957 57.4C207.957 56.5787 208.101 55.8267 208.389 55.144C208.688 54.4507 209.098 53.848 209.621 53.336C210.154 52.8133 210.778 52.4133 211.493 52.136C212.208 51.848 212.992 51.704 213.845 51.704C214.688 51.704 215.466 51.848 216.181 52.136C216.896 52.4133 217.514 52.808 218.037 53.32C218.57 53.832 218.981 54.4347 219.269 55.128C219.568 55.8213 219.717 56.5787 219.717 57.4C219.717 58.2213 219.568 58.9787 219.269 59.672C218.981 60.3653 218.57 60.968 218.037 61.48C217.514 61.992 216.896 62.392 216.181 62.68C215.466 62.9573 214.688 63.096 213.845 63.096ZM213.845 62.04C214.517 62.04 215.136 61.928 215.701 61.704C216.277 61.4693 216.773 61.144 217.189 60.728C217.616 60.3013 217.946 59.8107 218.181 59.256C218.416 58.6907 218.533 58.072 218.533 57.4C218.533 56.728 218.416 56.1147 218.181 55.56C217.946 54.9947 217.616 54.504 217.189 54.088C216.773 53.6613 216.277 53.336 215.701 53.112C215.136 52.8773 214.517 52.76 213.845 52.76C213.173 52.76 212.549 52.8773 211.973 53.112C211.397 53.336 210.896 53.6613 210.469 54.088C210.053 54.504 209.722 54.9947 209.477 55.56C209.242 56.1147 209.125 56.728 209.125 57.4C209.125 58.0613 209.242 58.6747 209.477 59.24C209.722 59.8053 210.053 60.3013 210.469 60.728C210.896 61.144 211.397 61.4693 211.973 61.704C212.549 61.928 213.173 62.04 213.845 62.04ZM222.371 63V51.8H226.563C227.512 51.8 228.328 51.9547 229.011 52.264C229.694 52.5627 230.216 53 230.579 53.576C230.952 54.1413 231.139 54.8293 231.139 55.64C231.139 56.4293 230.952 57.112 230.579 57.688C230.216 58.2533 229.694 58.6907 229.011 59C228.328 59.2987 227.512 59.448 226.563 59.448H223.027L223.555 58.904V63H222.371ZM230.019 63L227.139 58.936H228.419L231.315 63H230.019ZM223.555 59L223.027 58.44H226.531C227.651 58.44 228.499 58.1947 229.075 57.704C229.662 57.2133 229.955 56.5253 229.955 55.64C229.955 54.744 229.662 54.0507 229.075 53.56C228.499 53.0693 227.651 52.824 226.531 52.824H223.027L223.555 52.264V59ZM237.021 63.096C236.189 63.096 235.389 62.9627 234.621 62.696C233.864 62.4187 233.277 62.0667 232.861 61.64L233.325 60.728C233.72 61.112 234.248 61.4373 234.909 61.704C235.581 61.96 236.285 62.088 237.021 62.088C237.725 62.088 238.296 62.0027 238.733 61.832C239.181 61.6507 239.507 61.4107 239.709 61.112C239.923 60.8133 240.029 60.4827 240.029 60.12C240.029 59.6827 239.901 59.3307 239.645 59.064C239.4 58.7973 239.075 58.5893 238.669 58.44C238.264 58.28 237.816 58.1413 237.325 58.024C236.835 57.9067 236.344 57.784 235.853 57.656C235.363 57.5173 234.909 57.336 234.493 57.112C234.088 56.888 233.757 56.5947 233.501 56.232C233.256 55.8587 233.133 55.3733 233.133 54.776C233.133 54.2213 233.277 53.7147 233.565 53.256C233.864 52.7867 234.317 52.4133 234.925 52.136C235.533 51.848 236.312 51.704 237.261 51.704C237.891 51.704 238.515 51.7947 239.133 51.976C239.752 52.1467 240.285 52.3867 240.733 52.696L240.333 53.64C239.853 53.32 239.341 53.0853 238.797 52.936C238.264 52.7867 237.747 52.712 237.245 52.712C236.573 52.712 236.019 52.8027 235.581 52.984C235.144 53.1653 234.819 53.4107 234.605 53.72C234.403 54.0187 234.301 54.36 234.301 54.744C234.301 55.1813 234.424 55.5333 234.669 55.8C234.925 56.0667 235.256 56.2747 235.661 56.424C236.077 56.5733 236.531 56.7067 237.021 56.824C237.512 56.9413 237.997 57.0693 238.477 57.208C238.968 57.3467 239.416 57.528 239.821 57.752C240.237 57.9653 240.568 58.2533 240.813 58.616C241.069 58.9787 241.197 59.4533 241.197 60.04C241.197 60.584 241.048 61.0907 240.749 61.56C240.451 62.0187 239.992 62.392 239.373 62.68C238.765 62.9573 237.981 63.096 237.021 63.096Z"
              fill="black"></path>
            <path
              d="M38.5179 5L21.1423 16.365V21.2311V46.1057C19.1982 46.825 19.1982 46.1057 17.3756 46.1057V31.0137L0 40.3647V54.1754C3.7613 80.4947 38.5179 73.5094 38.5179 54.1754V5Z"
              fill="url(#paint0_linear_40_224)"></path>
            <path
              d="M17.816 46.9158L12.3773 52.5901C12.0205 52.9624 11.8212 53.4582 11.8212 53.974V58.549C11.8212 59.6535 12.7167 60.549 13.8212 60.549H18.8687H23.9161C25.0207 60.549 25.9161 59.6535 25.9161 58.549V53.8937C25.9161 53.4262 25.7523 52.9735 25.4533 52.6142L20.797 47.0202C20.0335 46.1029 18.6418 46.0542 17.816 46.9158Z"
              stroke="white"
              stroke-width="3"></path>
            <line x1="67" y1="56.5" x2="142" y2="56.5" stroke="black"></line>
            <line x1="253" y1="56.5" x2="328" y2="56.5" stroke="black"></line>
            <defs>
              <linearGradient
                id="paint0_linear_40_224"
                x1="32.3797"
                y1="10.7544"
                x2="3.43744"
                y2="49.3282"
                gradientUnits="userSpaceOnUse">
                <stop offset="0.130088" stop-color="#F74800"></stop>
                <stop offset="1" stop-color="#FD8000"></stop>
              </linearGradient>
            </defs>
          </svg>
        </a>
      </div>
      <p
        class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600 pb-4">
        Jayalakshmi interiors: Bringing your vision to life with quality
        craftsmanship and personal attention. Let’s start your transformation
        journey today.
      </p>
    </div>

    {/* Pages Section */}
    <div class="lg:col-span-2">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="flex flex-col gap-2">
          <h3
            class="text-primary-200 font-dm text-[18px] lg:text-[20px] leading-loose">
            Pages
          </h3>
          <div class="flex flex-col gap-4">
            <a
              href="/about"
              class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600">
              About Us
            </a>
            <!-- <a
              href="/services"
              class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600">
              Services
            </a> -->
            <a
              href="/contact"
              class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600">
              Contact Us
            </a>
          </div>
        </div>
        {/* Follow Us Section */}
        <div class="flex flex-col gap-2">
          <h3
            class="text-primary-200 font-dm text-[18px] lg:text-[20px] leading-loose">
            FOLLOW US
          </h3>
          <div class="flex flex-col gap-4">
            {/* Facebook */}
            <div class="flex items-center space-x-2">
              <Facebook />
              <p
                class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600">
                Facebook
              </p>
            </div>
            {/* Instagram */}
            <a
              href="https://www.instagram.com/jayalakshmiwoodcorner/"
              target="_blank"
              rel="noopener noreferrer">
              <div class="flex items-center space-x-2">
                <Instagram />
                <p
                  class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600">
                  Instagram
                </p>
              </div>
            </a>
            {/* LinkedIn */}
            <div class="flex items-center space-x-2">
              <LinkedIn />
              <p
                class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600">
                LinkedIn
              </p>
            </div>
          </div>
        </div>

        {/* Contact Section */}
        <div class="flex flex-col gap-2 md:col-span-2">
          <h3
            class="text-primary-200 font-dm text-[18px] lg:text-[20px] leading-loose">
            CONTACT US
          </h3>
          <div class="flex flex-col gap-4">
            <div class="flex items-center space-x-2">
              <Mail />
              <p
                class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600">
                jayalakshmiwoodcorner@gmail.com
              </p>
            </div>
            <div class="flex items-center space-x-2">
              <Phone />
              <p
                class="tracking-tight text-sm lg:text-[16px] lg:leading-[24px] font-jost text-gray-600">
                +91 9363150536
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {/* Footer Bottom */}
  <div class="text-center mt-8">
    <p class="text-xs text-slate-500">
      Copyright © {new Date().getFullYear()} Jayalakshmi interiors. All rights reserved.
    </p>
    <!-- <p class="text-xs text-slate-500 mt-1">
      Made by <a
        href="https://www.linkedin.com/in/jailingeshwar-ravi-7327a8228/"
        target="_blank"
        rel="noopener"
        class="hover:underline">Jailingeshwar</a
      >
    </p> -->
  </div>
</footer>
