---
const imageUrls = [
  "https://marketing-website-jayalakshmi-wood-corner.s3.ap-south-1.amazonaws.com/20190831_164929.jpg",
  // Add additional S3 URLs here
]
---

<div id="main">
  {imageUrls.map((url) => (
    <article class="thumb">
      <a class="image" href={url}>
        <img src={url} height="750" alt="Jayalakshmi interiors"  loading="lazy" />
      </a>
    </article>
  ))}
</div>
