---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Form from "./ui/form.astro";
---

<main
  class="grid grid-cols-1 lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 gap-8">
  <div>
    <h1
      class="text-4xl sm:text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Transform Your Space with Jayalakshmi Interior Design
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Transform Your Space with Jayalakshmi Interior Design
      Discover the beauty of personalized interior design from concept to completion. At Jayalakshmi, we craft spaces that reflect your style with transparent pricing and unmatched quality—all in Coimbatore.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        Schedule Your Free Consultation
      </Link>
    </div>
  </div>
  <div class="py-6 md:order-1">
    <Form />
  </div>
</main>
