---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<section
  class="place-items-center pt-16 pb-8 md:pt-28 md:pb-12 gap-8 bg-no-repeat text-black px-5 min-h-screen flex bg-cover bg-center"
  style={"background-image: url('/background-image.webp')"}>
  <div
    class="flex gap-6 flex-col items-center text-center max-w-5xl mx-auto h-full justify-center">
    <h1
      class="select-none text-center text-4xl sm:text-5xl mb-1 lg:text-6xl md:leading-tight font-semibold text-white">
      Transform Your Space with Jayalakshmi Interiors
    </h1>
    <p class="text-lg text-white/80 max-w-2xl select-none">
      Discover the beauty of personalized interior design from concept to
      completion. At Jayalakshmi Interiors, we craft spaces that reflect your
      style with transparent pricing and unmatched quality — all in Coimbatore.
    </p>
    <div class="flex flex-col sm:flex-row gap-3 mt-6">
      <Link
        href="/gallery"
        class="flex gap-1 items-center rounded-full justify-center bg-orange-500 text-white px-6 py-3 font-semibold shadow-lg hover:bg-orange-600 transition-all duration-200"
        rel="noopener">
        <span>Explore Our Work</span>
        <Icon class="w-6 h-6" name="bx:caret-right" />
      </Link>
    </div>
  </div>
</section>
