---
import { SEO, type Props as SeoProps } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  description?: string;
  useTitleTemplate?: boolean;
}

const { title, description, useTitleTemplate = true } = Astro.props;

const metaTitle = useTitleTemplate
  ? title + " | " + "Jayalakshmi interiors"
  : title
    ? title
    : "Jayalakshmi interiors - Transforming Spaces, Elevating Lifestyles";

const defaultMeta: Partial<SeoProps> = {
  titleTemplate: "Jayalakshmi interiors",
  titleDefault: metaTitle,
  description: description,
  noindex: false,
  nofollow: false,
  openGraph: {
    basic: {
      title: metaTitle,
      type: "website",
      image: "/opengraph.png",
    },
    optional: {
      description: description,
    },
  },
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO {...defaultMeta} />
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
